@model IEnumerable<MCN.Models.DetalleArticulos>

@{
    ViewData["Title"] = "ListadoDetalleArticulos";
    ViewData["Tipo"] = ViewData["tipo"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetalleArticulo</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdArticuloNavigation.TituloArticulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdArticuloNavigation.FechaPublicacionA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaRevision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ComentariosRetroaliment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdPersonal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdArticuloNavigation.TituloArticulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdArticuloNavigation.FechaPublicacionA)
                </td>
                @if (item.FechaRevision != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaRevision)
                    </td>
                }
                else
                {
                    <td>
                        En espera de Revisión
                    </td>
                }
                @if (item.ComentariosRetroaliment != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ComentariosRetroaliment)
                    </td>
                }
                else
                {
                    <td>
                        En espera de Revisión
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.IdPersonalNavigation.NombreP)
                    @Html.DisplayFor(modelItem => item.IdPersonalNavigation.ApellidoP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusNavigation.DescEstados)
                </td>
            </tr>
            }
        </tbody>
    </table>
    <p>
        <a asp-action="Listado" asp-controller="Articulos">Volver al Listado</a>
    </p>
</body>
</html>
