@model IEnumerable<MCN.Models.DetalleArticulos>

@{
    ViewData["Title"] = "ListadoArticulosRevisores";
    ViewData["Tipo"] = ViewData["tipo"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListadoRevisores</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaRevision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComentariosRetroaliment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdArticuloNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPersonalNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRevision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComentariosRetroaliment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdArticuloNavigation.ComentariosAutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonalNavigation.ApellidoP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusNavigation.Lestados)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetalleArt">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDetalleArt">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetalleArt">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
