@model IEnumerable<MCN.Models.Personal>

@{
    ViewData["Title"] = "AsignarArticuloRevisores";
    ViewData["Tipo"] = ViewData["tipo"];
    int id_arti = (int)ViewData["idArt"];
    string comentario = (string)ViewData["coment"];
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RevisoresDisponibles</title>
</head>
<body>
    <input type="hidden" id="id_ar" value="@id_arti" />
    <input type="hidden" id="come" value="@comentario" />
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Revisores disponibles
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NombreP)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ApellidoP)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CorreoElectronicoP)
                                </th>
                                <th>
                                    Institución
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RExtencionesP)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RLineaTrabajo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApellidoP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CorreoElectronicoP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RExtencionesPNavigation.RInstitucionesNavigation.NombreInstituto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RExtencionesPNavigation.NombreExtencion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RLineaTrabajoNavigation.LineasTrabajo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StatusNavigation.DescEstados)
                                    </td>

                                    <td>
                                        <input type="hidden" value="@item.IdPersonal" id=">@item.IdPersonal" />
                                        &nbsp;&nbsp; <a href="#" id="@item.IdPersonal" onclick="ObtenId(this)"><i class="fa fa-share-square-o"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <p>
        <a asp-action="Listado" asp-controller="Articulos"><button type="button" class="btn btn-default">Volver al Listado</button></a>
    </p>
    <script>
        function ObtenId(elemento) {
            //alert(elemento.id);
            var idelement = elemento.id;
            $.ajax({
                type: "GET",
                url: "AsignacionRevisores/",
                data: {
                    "id_per": idelement,
                    "id_articulo": $("#id_ar").val(),
                    "comentariomemo": $("#come").val()
                },
                success: function (result) {
                    elemento.style.display = 'none';
                    swal({
                        type: 'success',
                        title: 'Asignación Exitosa',
                        showConfirmButton: false,
                        timer: 1500
                    });
                },
                error: function (response) {
                    alert("no se pudo >:´v");
                }
            });
        }
    </script>
</body>
</html>
