@model MCN.Models.Autores

@{
    ViewData["Title"] = "PerfilAutor";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Perfil</title>
</head>
<body>

<div>
    <div class="row">
        <br />
        <h4>Materia Ciencia Y Nanociencia</h4>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Perfil de Usuario
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        
                        
                        <!--img src="~/images/MateriaCienciaNanociencia.png" height="200" width="400" class="btn btn-default btn-circle btn-xl" id="wrapper"/-->
                        
                        <dt>
                            @Html.DisplayNameFor(model => model.NombreA)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.NombreA)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ApellidosA)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ApellidosA)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.NombreUsuarioA)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.NombreUsuarioA)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CorreoElectronicoA)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CorreoElectronicoA)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.TipoA)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.TipoANavigation.TipoUsuarios)
                        </dd>
                    </dl>
                </div>
                </div>
            </div>
        </div>
    </div>
    
                <div>
                    <a asp-action="Index" asp-controller="Home">Volver al Inicio</a>
                </div>
</body>
</html>
